form
    padding: 30px 20px
    @media (min-width: 768px)
        padding: 30px 60px
    @media (min-width: 1120px)
        display: grid
        grid-template-columns: 60% 40%
        padding: 40px 60px 0 60px

.search
    &-container
        position: relative
    &-input
        width: 100%
        max-width: 500px
        height: 50px
        padding-left: 60px
        background-color: var(--element-background-color)
        color: var(--input-color)
        outline: none
        border: none
        border-radius: 5px
        box-shadow: var(--box-shadow)
    &::placeholder
        color: var(--input-color)
        opacity: 1
    &-input-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        padding: 0 20px
        height: 100%
        background-color: transparent
        border: none
        &:hover
            cursor: pointer

.fa-magnifying-glass
    color: var(--input-color)

.custom-select
    position: relative
    margin: 40px 0 0 0
    :hover
        cursor: pointer
    @media (min-width: 1120px)
        margin: 0
        display: flex
        justify-content: flex-end

.select
    &-button
        display: flex
        align-items: center
        justify-content: space-between
        width: 60%
        max-width: 230px
        height: 50px
        padding: 0 20px
        outline: none
        border: none
        background-color: var(--element-background-color)
        color: var(--text-color)
        border-radius: 5px
        box-shadow: var(--box-shadow)
    &-dropdown
        display: none

.fa-chevron-down
    font-size: 8px

.active
    position: absolute
    display: inline-block
    width: 60%
    max-width: 230px
    padding: 10px 0
    margin-top: 5px
    border-radius: 5px
    box-shadow: var(--box-shadow)
    background-color: var(--element-background-color)
    :hover
        cursor: pointer
    @media (min-width: 1120px)
        top: 50px

.dropdown
    &-option
        height: 30px
        align-content: center
        &:hover
            background-color: var(--selected-region-background-color)
    &-input
        opacity: 0

.active-filter
    background-color: var(--selected-region-background-color)
