:root {
  --background-color: hsl(0, 0%, 98%);
  --element-background-color: hsl(0, 0%, 100%);
  --selected-region-background-color: hsl(0, 0%, 90%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --box-shadow: 0px 0px 3px 0.1px hsl(0, 0% , 80%);
  --box-shadow-btn: 0px 0px 3px 2px hsl(0, 0% , 80%);
  --light: 300;
  --bold: 600;
  --boldest: 800;
}
:root strong {
  font-weight: var(--bold);
}

.dark-mode {
  --background-color: hsl(207, 26%, 17%);
  --element-background-color: hsl(209, 23%, 22%);
  --selected-region-background-color: hsl(207, 26%, 30%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: var(--text-color);
  --box-shadow: 0px 0px 3px 3px hsl(207, 26%, 15%);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--element-background-color);
}
@media (min-width: 600px) {
  header {
    padding: 30px 60px;
  }
}

.home-btn {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: var(--boldest);
}
@media (min-width: 1120px) {
  .home-btn {
    font-size: 18px;
  }
}

.contrast-button-container {
  display: flex;
  align-items: center;
}

.contrast-button {
  background-color: var(--element-background-color);
  color: var(--text-color);
  border: none;
}
.contrast-button:hover {
  cursor: pointer;
}

.fa-moon {
  padding: 0 10px;
  transform: rotate(-25deg);
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
@media (min-width: 600px) {
  form {
    padding: 30px 60px;
  }
}
@media (min-width: 1040px) {
  form {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 60px 0 60px;
  }
}

.search-container {
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 1040px) {
  .search-container {
    width: 50%;
  }
}
.search-input {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding-left: 60px;
  background-color: var(--element-background-color);
  color: var(--input-color);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.search::placeholder {
  color: var(--input-color);
  opacity: 1;
}
.search-input-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  height: 100%;
  background-color: transparent;
  border: none;
}
.search-input-button:hover {
  cursor: pointer;
}

.fa-magnifying-glass {
  color: var(--input-color);
}

.custom-select {
  margin-top: 20px;
  position: relative;
}
.custom-select :hover {
  cursor: pointer;
}
@media (min-width: 1040px) {
  .custom-select {
    width: 20%;
    margin-top: 0;
  }
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  padding: 0 20px;
  outline: none;
  border: none;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
@media (min-width: 1040px) {
  .select-button {
    width: 100%;
  }
}
.select-dropdown {
  display: none;
}

.fa-chevron-down {
  font-size: 8px;
}

.active {
  position: absolute;
  display: inline-block;
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--element-background-color);
}
.active :hover {
  cursor: pointer;
}
@media (min-width: 1040px) {
  .active {
    width: 100%;
  }
}

.dropdown-option {
  padding: 15px 0;
  align-content: center;
}
.dropdown-option:hover {
  background-color: var(--selected-region-background-color);
}
.dropdown-input {
  opacity: 0;
}

.active-filter {
  background-color: var(--selected-region-background-color);
}

.tile-btn {
  display: none;
  height: 50px;
  width: 70px;
  padding: 5px 0;
  margin-right: 10px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.tile-btn:hover {
  background-color: var(--selected-region-background-color);
  cursor: pointer;
}
.tile-btn-container {
  margin-top: 20px;
}
@media (min-width: 1040px) {
  .tile-btn-container {
    margin-top: 0;
  }
}

@media (min-width: 280px) {
  .tile-btn-1,
  .tile-btn-2 {
    display: inline-block;
  }
}
@media (min-width: 1040px) {
  .tile-btn-1 {
    display: none;
  }
  .tile-btn-2,
  .tile-btn-3 {
    display: inline-block;
  }
}
@media (min-width: 1360px) {
  .tile-btn-1,
  .tile-btn-2 {
    display: none;
  }
  .tile-btn-3,
  .tile-btn-4 {
    display: inline-block;
  }
}
.country-card {
  width: 100%;
  background-color: var(--element-background-color);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 0 0 20px 0;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .country-card {
    margin-bottom: 80px;
    padding: 0 0 40px 0;
  }
}
.country-flag {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.country-name {
  text-align: center;
  font-size: 14px;
  font-weight: var(--boldest);
  padding: 15px 10px;
}
@media (min-width: 600px) {
  .country-name {
    font-size: 18px;
    padding: 25px 20px;
    text-align: start;
  }
}

.card-ul {
  text-align: center;
  padding: 0 10px;
}
@media (min-width: 600px) {
  .card-ul {
    padding: 0 20px;
    text-align: start;
  }
}
.card-li {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
@media (min-width: 600px) {
  .card-li {
    flex-direction: row;
  }
}

.span-category {
  font-weight: var(--bold);
  font-size: 12px;
}
.span-value {
  font-size: 12px;
}

.back-btn {
  color: var(--text-color);
  background-color: var(--element-background-color);
  box-shadow: var(--box-shadow-btn);
  border: none;
  width: 100px;
  margin: 40px 20px;
  padding: 7.5px 0;
  border-radius: 5px;
}
.back-btn:hover {
  cursor: pointer;
}
@media (min-width: 920px) {
  .back-btn {
    margin-left: 60px;
  }
}

.fa-arrow-left-long {
  padding-right: 10px;
}

.detailed-card-container {
  padding: 30px 20px 0 20px;
  margin: auto;
  max-width: 400px;
}
@media (min-width: 920px) {
  .detailed-card-container {
    padding: 30px 60px 0 60px;
    margin: 0;
    max-width: 100%;
  }
}
@media (min-width: 920px) {
  .detailed-country-card {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1076px) {
  .detailed-country-card {
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .detailed-country-card {
    justify-content: center;
  }
}
.detailed-flag {
  width: 280px;
  height: 185px;
  object-fit: cover;
  margin: 20px 0;
}
@media (min-width: 920px) {
  .detailed-flag {
    width: 50%;
    max-width: 420px;
    height: 280px;
  }
}

@media (min-width: 920px) {
  .details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 40px;
  }
}
@media (min-width: 1076px) {
  .details-container {
    margin-left: 100px;
  }
}

.detail-page-name {
  font-size: 20px;
  font-weight: var(--boldest);
  margin: 20px 0;
}
@media (min-width: 920px) {
  .detail-page-name {
    grid-column: 1/-1;
  }
}

.details {
  margin-bottom: 40px;
}
.details-li {
  margin-bottom: 20px;
}

.border-countries-container {
  margin-bottom: 60px;
}
@media (min-width: 920px) {
  .border-countries-container {
    grid-column: 1/-1;
  }
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
}

.border-countries-title {
  margin: 20px 0;
}

.border-country {
  box-shadow: var(--box-shadow);
  background-color: var(--element-background-color);
  min-width: 100px;
  height: 25px;
  padding: 0 15px;
  font-size: 12px;
  margin: 0 10px 10px 0;
  align-content: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

body {
  background-color: var(--background-color);
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: var(--light);
  color: var(--text-color);
}

.country-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: flex-start;
  column-gap: 10px;
  padding: 30px 20px 0 20px;
}
@media (min-width: 600px) {
  .country-card-container {
    column-gap: 40px;
    padding: 30px 60px 0 60px;
  }
}
@media (min-width: 1360px) {
  .country-card-container {
    grid-template-columns: repeat(4, minmax(280px, 1fr));
  }
}

.error-message {
  font-size: 20px;
  padding-top: 190px;
  margin-bottom: 190px;
  height: 500px;
  text-align: center;
  grid-column: 1/-1;
}

.fa-circle-exclamation {
  color: red;
  font-size: 25px;
}

.loader {
  background-color: hsla(209, 23%, 22%, 0.75);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  align-content: center;
}

.fa-spinner {
  animation: spin 2s linear infinite;
  padding: 10px 0;
  font-size: 75px;
  color: hsl(0, 0%, 100%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
