html {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 300;
  color: hsl(200, 15%, 8%);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  box-shadow: 0px 0px 3px 0.1px hsl(0, 0%, 80%);
}
@media (min-width: 768px) {
  header {
    padding: 30px 60px;
  }
}
header h1 {
  font-size: 16px;
  font-weight: 800;
}
@media (min-width: 1120px) {
  header h1 {
    font-size: 18px;
  }
}
header .contrast-button-container {
  display: flex;
  align-items: center;
}
header .contrast-button-container .fa-moon {
  padding: 0 10px;
  transform: rotate(-25deg);
  font-size: 16px;
}
header .contrast-button-container button {
  background-color: hsl(0, 0%, 100%);
  border: none;
}

main {
  background-color: hsl(0, 0%, 98%);
}
main form {
  padding: 30px 20px;
}
@media (min-width: 768px) {
  main form {
    padding: 30px 60px;
  }
}
@media (min-width: 1120px) {
  main form {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 40px 60px 0 60px;
  }
}
main .search-container {
  position: relative;
}
main .search-container .search-input {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding-left: 60px;
  color: hsl(0, 0%, 52%);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0.1px hsl(0, 0%, 80%);
}
main .search-container .search-input-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  height: 100%;
  background-color: transparent;
  border: none;
}
main .search-container .search-input-button:hover {
  cursor: pointer;
}
main .search-container .search-input-button .fa-magnifying-glass {
  color: hsl(0, 0%, 52%);
}
main .custom-select {
  position: relative;
  margin: 40px 0 0 0;
}
main .custom-select :hover {
  cursor: pointer;
}
@media (min-width: 1120px) {
  main .custom-select {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
}
main .custom-select .select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  max-width: 230px;
  height: 50px;
  padding: 0 20px;
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0.1px hsl(0, 0%, 80%);
}
main .custom-select .select-button .fa-chevron-down {
  font-size: 8px;
}
main .custom-select .select-dropdown {
  display: none;
}
main .custom-select .active {
  position: absolute;
  display: inline-block;
  width: 60%;
  max-width: 230px;
  padding: 10px 0;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0.1px hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);
}
main .custom-select .active :hover {
  cursor: pointer;
}
@media (min-width: 1120px) {
  main .custom-select .active {
    top: 50px;
  }
}
main .custom-select .active li {
  height: 30px;
  align-content: center;
}
main .custom-select .active li .dropdown-input {
  opacity: 0;
}
main .country-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 20px 0 20px;
}
@media (min-width: 768px) {
  main .country-card-container {
    padding: 30px 60px 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 80px;
  }
}
@media (min-width: 1120px) {
  main .country-card-container {
    padding: 50px 60px 0 60px;
  }
}
main .country-card-container .country-card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 3px 0.1px hsl(0, 0%, 80%);
  border-radius: 5px;
  width: 280px;
  height: 375px;
  padding: 0 0 40px 0;
  margin: 0px auto 80px auto;
}
@media (min-width: 1490px) {
  main .country-card-container .country-card {
    width: 100%;
  }
}
main .country-card-container .country-card img {
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
main .country-card-container .country-card h2 {
  font-size: 18px;
  font-weight: 800;
  padding: 25px 20px;
}
main .country-card-container .country-card .card-ul {
  padding: 0 20px;
}
main .country-card-container .country-card .card-ul .card-li {
  padding: 5px 0;
}
main .country-card-container .country-card .card-ul .span-category {
  font-weight: 600;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
