@import 'variables'
@import 'header'
@import 'form'
@import 'country_card'

body
    background-color: var(--background-color)
    font-family: 'Nunito Sans'
    font-size: 14px
    font-weight: $lightWeight
    color: var(--text-color)

.country-card-container
    display: flex
    flex-direction: column
    flex-wrap: wrap
    padding: 30px 20px 0 20px
    @media (min-width: 768px)
        padding: 30px 60px 0 60px
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)) 
        column-gap: 80px
    @media (min-width: 1120px)
        padding: 50px 60px 0 60px    

            
.error-message
    font-size: 20px
    padding-top: 190px
    margin-bottom: 190px
    height: 500px
    text-align: center
    grid-column: 1 / -1

.fa-circle-exclamation
    color: red
    font-size: 25px

.loader
    background-color: var(--element-background-color)
    box-shadow: var(--box-shadow)
    padding: 15px 10px
    margin: auto
    width: 60%
    border-radius: 5px
    position: sticky
    bottom: 25%
    text-align: center
    align-content: center
    grid-column: 1 / -1

.fa-spinner
    animation: spin 2s linear infinite
    padding: 10px 0
@keyframes spin 
    0% 
        transform: rotate(0deg)
    100% 
        transform: rotate(360deg)
  

