:root
    --background-color: hsl(0, 0%, 98%)
    --element-background-color: hsl(0, 0%, 100%)
    --text-color: hsl(200, 15%, 8%)
    --input-color: hsl(0, 0%, 52%)
    --box-shadow: 0px 0px 3px 0.1px hsl(0, 0% , 80%)
    --box-shadow-btn: 0px 0px 3px 2px hsl(0, 0% , 80%)

    --light: 300
    --bold: 600
    --boldest: 800

    strong
        font-weight: var(--bold)

.dark-mode
    --background-color: hsl(207, 26%, 17%)
    --element-background-color: hsl(209, 23%, 22%)
    --text-color: hsl(0, 0%, 100%)
    --input-color: var(--text-color)
    --box-shadow: 0px 0px 3px 3px hsl(207, 26%, 15%)
